<web-app>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.productmanagement.controller.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/list</url-pattern>
        <url-pattern>/new</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/update</url-pattern>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>
