/* Global Styles */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cda079; /* Beige */

  }
  
  /* Header Styles */
  header {
    background-color: #FFFFFF; /* White */
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #000000; /* Black */
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #FFFFFF; /* White */
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #000000; /* Black */
    text-decoration: none;
  }
  
  nav a:hover {
    color: #666666; /* Dark Gray */
  }
  
  /* Main Content Styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  section {
    background-color: #FFFFFF; /* White */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #000000; /* Black */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #skills li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f7f7f7;
    width: calc(25% - 20px);
  }
  
  #skills li:hover {
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  /*