/* styles.css */

/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Sans", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  /* Table Styles */
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  /* Miscellaneous Styles */
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
  
  .center {
    text-align: center;
  }

  .state {
    margin-bottom: 20px;
}

.state h2 {
    color: #535614;
    margin-bottom: 10px;
}

.state p {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}