* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
    position: relative;
}

h1 {
    color: #444;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

#bubble-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.bubble {
    font-size: 32px;
    font-weight: bold;
    color: white;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    background-color: #3498db;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}

/* Animation for floating effect */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
