/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a70b80;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    color: #f4f4f4;
    margin: 0;
    display: inline-block;
}

nav {
    margin-top: 10px;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #f8f7f7;
    padding: 5px;
}

nav a:hover {
    background-color: #000000;
    border-radius: 5px;
}

main {
    padding: 20px;
}

/* Styles for Services Page */
body{
    background-color: #ffe6f0; /* Light pink background */
    color: #333; /* Dark text color for contrast */
    padding: 20px;
    border-radius: 8px;
}

 h2 {
    text-align: center;
    font-size: xx-large;
    color: #d6336c; /* Darker pink for headings */
}

 section {
    margin-bottom: 20px;
}

h3 {
    color: #d6336c; /* Darker pink for subheadings */
}

.services-page audio,
.services-page video {
    border: 2px solid #d6336c; /* Pink border */
    border-radius: 8px; /* Rounded corners for media elements */
}

/* Footer Styles */
footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
    color: #333;
}
